body{
  font-family: cursive;  
}

form{
    height: 500px;
    width: 300px;
    margin: 20px auto;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;    
}


input{
    display: flex;
    width: 285px;
    height: 25px;
    margin: 20px auto;
    border-radius: 5px;
    border: 2px solid indianred;
    padding-left: 10px;

}



.registration{
    margin-top: 20px;
    text-align: center;
    font-size: larger;
}

.shape{
    display: flex;
    font: 20;
    font-size: small;
}
.btn{
    margin-top: 20px;
    margin-left: 220px;
    padding: 4px 12px;
    border: 2px solid darkred;
    border-radius: 5px;
    background-color: rgb(8, 173, 8);
    color: white;
}